
* {
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body { 
  margin: 0 ;
}
body, html {
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
  }
 
.parent .container-content {
    display: flex;
    justify-content: space-between;
}
.parent .container-content .side{
    width:3%;
    margin-left: 0;
}
.parent .container-content .chat {
    width: 90%;
    background-color: transparent;
   
}
/*sidebar*/
.container {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.sidebar {
  position: relative;
  width: 156px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  padding: 24px;
  
  transition: all 0.3s;
  z-index: 999;
  background-color: #dbe2f4;
}


.navv {
  flex: 1;
}
.menu ul li {
  position: relative;
  list-style: none;
  margin-bottom: 5px;
}
.menu ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  text-decoration: none;
  padding: 12px 8px;
  border-radius: 8px;
  transition: all 0.3s;
}
.menu ul li > a:hover,
.menu ul li.active > a {
  color: #000;
  background-color: #f6f6f6;
}

.menu ul li .text {
  flex: 1;
}
.menu ul li .arrow {
  font-size: 14px;
  transition: all 0.3s;
}
.menu ul li .icon {
  font-size: 20px;
}


.menu-btn {
  position: absolute;
  right: -14px;
  top: 3.5%;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #757575;
  border: 2px solid #f6f6f6;
  background-color: #fff;
}
.menu-btn:hover i {
  color: #000;
}
.menu-btn i {
  transition: all 0.3s;
}
.sidebar.active {
  width: 92px;
}
.sidebar.active .menu-btn i {
  transform: rotate(180deg);
}
.sidebar.active .user-details {
  display: none;
}
.sidebar.active .menu .title {
  text-align: center;
}
.sidebar.active .menu ul li .arrow {
  display: none;
}
.sidebar.active .menu > ul > li > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar.active .menu > ul > li > a .text {
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  
}

.sidebar.active .menu > ul > li > a:hover .text {
  left: 50px;
  opacity: 1;
  visibility: visible;
}
/*sidebar*/

/*content*/
.content  {
    margin-left: -15px;
    margin-top: 60px;
}
/* navbar  */


.navbar {
  display: flex;
  background-color: #dbe2f4;
  box-shadow: 1px -3px 20px 0px #e8e7e7;
}
.navbar-brand {
  width:70px;
  height: 50px;
  margin-left: 100px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  font-family: "Montserrat", Sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-style: normal;
  color: #222222;
  margin: 0 12px;
  font-weight: bold;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
  color: #feed5a;
}
.navbar-toggler:focus, .navbar-toggler:hover {
  outline: 0;
  border: 0;
}
.navbar .iconify {
  margin-right: 20px;
  margin-top: 10px;
}

.navbar input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  width: 350px;
  height: 30px;
  margin-left: 55px;
  background-color: #f5eeee;
}

nav ul .submenu2 {
  position: absolute;
  width: 150px;
  background-color: #fff;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.2);
  margin-top: 0;
  transition: all ease 0.5s;
  opacity: 0;
  z-index: 1000; 
}

nav ul li:hover .submenu2 {
  opacity: 1;
  margin-top: 0;
}

nav ul .submenu2 li {
  list-style: none;
  margin: 0;
  width: 100%;
}

nav ul .submenu2 li a {
  padding: 15px;
  display: block;
  width: 100%;
  color: black;
  text-decoration: none;
}
nav ul .submenu2 li a:hover {
  color: #feed5a;
}
.tab {
  display: flex;
  justify-content: space-between;
  width: 250px;
  min-height: 100px;
  background-color: #fff;

}
.tab button {
  height: 20px;
  border: none;
}
.tab button.active {
  background-color: #ccc;
  font-size: 12px;
}

/*chat*/
.chat {
    
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-right: 10px;
    border-radius: 15px
}
.chat .dialog {
    background-color: transparent;
    width: 70%;
    margin-left: 2%;
    min-height: 100px;
}
.people .active-people {
  min-height: 300px;
  background-color: #fff;
  border-radius: 10px;
}
  .people .search-people{
    width: 100%;
  }

.chat .people {
    background-color: transparent;
    width: 30%;
    margin-left: 10px;
    min-height: 100px;
    border-radius: 15px;
    
}
.chat-box {
    width: 100%;
    min-height: 430px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}


/* about client */

.client {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
    background-color: #c4bbbb2b;
    padding: 15px;
}

 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.client-info {
    padding-left: 15px;
}
.client-info h6 {
  margin-top: 25px;
}


/* chat section */

.chats {
    width: 100%;
    padding: 0 15px;
    color: #fff;
    position: relative;
    font-size: 0.9em;
    flex: 1; 
   
}


.client-chat {
    width: 60%;
    word-wrap: break-word;
    background-color: #4f5d73c7;
    padding: 7px 10px;
    border-radius: 10px 10px 10px 0;
    margin: 10px 0;
}

.my-chat {
    width: 60%;
    word-wrap: break-word;
    background-color: #77b3d4c7;
    padding: 7px 10px;
    border-radius: 10px 10px 0 10px;
    margin: 5px 0 5px auto;
}


/* input section */

.chat-input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 15px;
    overflow: hidden;
    border-top: 1px solid #ccc;
}

.chat-input input {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  color: #000;
  padding: 0 15px;
  border: 1px solid #ccc;
}

.send-btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.send-btn:active {
    transform: scale(0.85);
}

.send-btn img {
    width: 100%;
    height: 100%;
}


/*dialog*/

.people input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    background-color: #c4bbbb2b;
}

.active-user{
    width: 100%;
}

.circle-online {
    position: relative;
    top: -20px;
    left: 35px;
    width: 15px;
    height: 15px;
    background-color: #8BC34A;
    border-radius: 13px;
    border: 3px solid #FAFAFA;
}
.client-info p{
    color: rgba(2, 2, 2, 0.274);
    font-size: smaller;
}
.time {
    color: #757575;
    margin-top: -1px;
    margin-bottom: 20px;
    float: right;
}
.time p{
    font-size: smaller;
}





@media(max-width:768px){
  .navbar-brand {
    width:20px;
    height: 20px;
  }
  
  .navbar-nav{
    margin-top: 20px;
  }
  .parent .container-content{
    display: flex;
    flex-direction: row;
  }
  .parent .container-content .side{
    
    width:3%;
    margin-left: 0;
}
.navbar input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  width: 250px;
  height: 30px;
  margin-left: 1px;
  background-color: #f5eeee;
  margin-top: 15px;
}
.sidebar.active {
  left: -90px;
  width: 92px;
}
.parent .container-content .chat {
    width: 95%;
    background-color: transparent;
   /* margin-left: 60px;*/
}
  .chat {
    margin-left: 5px;
    margin-right: 15px;
    flex-direction: column;
}
.chat .dialog , 
.chat .people {
    width: 100%;
    margin-bottom: 10px;
   
}
chat .people {
  margin-right: 10px;
}

.chat .active-people{
  width: 100%;
}
}