@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body { 
  background-color: #dbe2f4;
}
body, html {
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
  }
.parent {
    display: flex;
    justify-content: space-between;
}
.parent .side{
    width:3%;
}
.parent .content {
    width: 97%;
    background-color: transparent;
   /* margin-left: 12%;*/
}
/*sidebar*/
.container {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.sidebar {
  position: relative;
  width: 156px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  padding: 24px;
  border-radius: 30px;
  transition: all 0.3s;
  z-index: 999;
}


.nav {
  flex: 1;
}
.menu ul li {
  position: relative;
  list-style: none;
  margin-bottom: 5px;
}
.menu ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  text-decoration: none;
  padding: 12px 8px;
  border-radius: 8px;
  transition: all 0.3s;
}
.menu ul li > a:hover,
.menu ul li.active > a {
  color: #000;
  background-color: #f6f6f6;
}
.menu ul li .icon {
  font-size: 20px;
}
.menu ul li .text {
  flex: 1;
}
.menu ul li .arrow {
  font-size: 14px;
  transition: all 0.3s;
}


.menu-btn {
  position: absolute;
  right: -14px;
  top: 3.5%;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #757575;
  border: 2px solid #f6f6f6;
  background-color: #fff;
}
.menu-btn:hover i {
  color: #000;
}
.menu-btn i {
  transition: all 0.3s;
}
.sidebar.active {
  width: 92px;
}
.sidebar.active .menu-btn i {
  transform: rotate(180deg);
}
.sidebar.active .user-details {
  display: none;
}
.sidebar.active .menu .title {
  text-align: center;
}
.sidebar.active .menu ul li .arrow {
  display: none;
}
.sidebar.active .menu > ul > li > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar.active .menu > ul > li > a .text {
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.sidebar.active .menu > ul > li > a:hover .text {
  left: 50px;
  opacity: 1;
  visibility: visible;
}
/*sidebar*/

/*content*/
.content .container-content {
    margin-left: 12%;
}
/*navbar*/
.navbar {
    background-color: transparent;
    color: #757575;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.navbar p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.navbar input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 350px;
    height: 30px;
}
.navbar .topnav {
    padding-right: 50px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar li {
    margin-right: 30px;
    position: relative;
}

.dropdown-divname {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5px;
}

.navbar li:hover a {
    background-color: transparent;
}

.navbar .test {
    position: relative;
}

#notefication-menu {
    visibility: hidden;
        position: absolute;
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        top: -5px;
        width: 400px;
        height: 200px;
        display: flex;
        flex-direction: column;
}
li:hover div#notefication-menu {
    opacity: 1;
    top: 40px;
    left: -50px;
    visibility: visible;
    display: flex;
    flex-direction: column;
}

#notefication-menu li {
    float: none;
    width: 100%;
}

#notefication-menu a:hover {
    color: #000;
}

.tab button.active {
    background-color: #ccc;
    font-size: 12px;
}
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 10px;
    transition: 0.3s;
}

 #restnotification {
    padding: 7px 0;
    font-size: 12px;
    color: #2c2c2e;
    display: block;
    font-weight: 700;
    text-decoration: none;
    background-color: transparent;
}

#submenue {
    visibility: hidden;
        position: absolute;
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        top: -5px;
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
}

li:hover div#submenue {
    opacity: 1;
    top: 40px;
    left: -50px;
    visibility: visible;
    display: flex;
    flex-direction: column;
}

#submenue li {
    float: none;
    width: 100%;
}

#submenue a:hover {
    color: #000;
}

li:hover #submenue {
    margin-top: 0;
}
/*navbar*/

/*chat*/
.chat {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 15px
}
.chat .dialog {
    background-color: transparent;
    width: 70%;
    margin-left: 2%;
    min-height: 100px;
}
  .people .search-people{
    width: 100%;
  }

.chat .people {
    background-color: white;
    width: 30%;
    margin-left: 20px;
    min-height: 100px;
    border-radius: 15px;
    
}
.chat-box {
    width: 100%;
    min-height: 430px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}


/* about client */

.client {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
    background-color: #c4bbbb2b;
    padding: 15px;
}

.client img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.client-info {
    color: #2c2c2e;
    padding: 15px;
    padding-top: 1px
}

.client-info p {
    color: #008000;
    font-weight: bold;
    font-size: 0.8em;
}


/* chat section */

.chats {
    width: 100%;
    padding: 0 15px;
    color: #fff;
    position: relative;
    font-size: 0.9em;
    flex: 1; 
   
}


.client-chat {
    width: 60%;
    word-wrap: break-word;
    background-color: #4f5d73c7;
    padding: 7px 10px;
    border-radius: 10px 10px 10px 0;
    margin: 10px 0;
}

.my-chat {
    width: 60%;
    word-wrap: break-word;
    background-color: #77b3d4c7;
    padding: 7px 10px;
    border-radius: 10px 10px 0 10px;
    margin: 5px 0 5px auto;
}


/* input section */

.chat-input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 15px;
    overflow: hidden;
    border-top: 1px solid #ccc;
}

.chat-input input {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  color: #000;
  padding: 0 15px;
  border: 1px solid #ccc;
}

.send-btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.send-btn:active {
    transform: scale(0.85);
}

.send-btn img {
    width: 100%;
    height: 100%;
}


/*dialog*/

.people input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    background-color: #c4bbbb2b;
}

.active-user{
    width: 100%;
}

.circle-online {
    position: relative;
    top: -20px;
    left: 35px;
    width: 15px;
    height: 15px;
    background-color: #8BC34A;
    border-radius: 13px;
    border: 3px solid #FAFAFA;
}
.client-info p{
    color: black;
    font-size: smaller;
}
.time {
    color: #757575;
    margin-top: -1px;
    margin-bottom: 20px;
    float: right;
}
.time p{
    font-size: smaller;
}




/*media query*/
@media only screen and (max-width: 768px) {
  

  .container-content {
    flex-direction: column;
  }
  .container-content .navbar ,
  .container-content .chat {
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    margin-left: -45px;
    justify-content: space-between;
    margin-bottom: -20px
  }

  .navbar p {
    margin-bottom: 5px;
  }

  .navbar div {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .navbar ul {
    flex-direction: row;
    align-items: center;
  }

  .navbar li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .navbar .topnav {
    padding: 0;
  }

  #notefication-menu,
  #submenue {
    top: 40px; /* Adjust as needed */
  }

  #submenue {
    width: 100%;
  }

  .tab button,
  #restnotification,
  .test {
    width: 100%;
  }

  .note-name {
    padding: 0 10px; /* Adjust as needed */
  }

  #restnotification {
    margin-top: 10px;
  }


  .chat {
    flex-direction: column;
  }

  /*.chat .dialog,
  .chat .people {
    width: 100%;
  }*/

 .navbar input{
  width: 300px
 }
.container-content .navbar, .container-content .chat {
  width: 80%;
}
  .content .container-content .chat{
    margin-left: 0;
    margin-right: 35px
  }
  .chat .dialog, .chat .people {
    width: 100%;
    margin-left: 55px;
    margin-right: 20px;
    background-color: white;
    margin-top: 10px;
    border-radius: 15px
}

.chat .people {
  margin-top: 55px;
}

 /* .sidebar,
  .navbar,
  .chat {
    width: 0%;
  }

  .menu-btn {
    right: 0;
  }*/

}

@media(max-width:767px){
  .sidebar {
    margin-top: 120px;
  }
}

